html, body {
  background-color: #e5e5e5;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  background-image: url('./Assets/bg.png');
  background-repeat: repeat;
}

#app {
  font-size: 16px;

  width: 100vw;

  box-sizing: border-box;

  // min-height: 100vh;
  // height: 100vh;
  // max-height: 100vh;
  // -webkit-overflow-scrolling: touch;
  // overflow: scroll;

  padding-left: calc(constant(safe-area-inset-left) - 0.75em);
  padding-left: calc(env(safe-area-inset-left) - 0.75em);
  padding-right: calc(constant(safe-area-inset-left) - 1em);
  padding-right: calc(env(safe-area-inset-left) - 1em);

  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}
